*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
assets/tree_images/*.png filter=lfs diff=lfs merge=lfs -text
assets/tree_images/*.jpg filter=lfs diff=lfs merge=lfs -text
